/* #F17949
#FAB131
#C7DDEA
#A9A19E*/

$lightblue-clr:#C7DDEA;
$darkorange-clr:#F17949;
$yellow-clr: #FAB131;
$lightgrey-clr:#A9A19E;
$darkgrey-clr:rgb(204, 204, 204);
$superlightgrey-clr:rgb(223, 223, 223);
body{
    h1{
        font-size: 3rem;
        font-weight: 1000;
        font-family: 'Frank Ruhl Libre', serif;
    }
    h2{
        font-size: 2.9rem;
        font-weight: 700;
    }
    h3{
        font-size: 2.7rem;
        font-weight: 700;
    }
    h4{
        font-size: 2.5rem;
        font-weight: 700;
    }
    p{
        font-family: 'Fira Sans', sans-serif;
        line-height: 1.5em;
        font-weight: 600;
        color: rgb(73, 73, 73);
    }

}

