

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}


.flex1{
background-color: black;
z-index: 1;
flex: 0 1 50%;
}
.flex2{
background-color: red;
z-index: 1;
flex: 0 1 50%;
}
.card::before{
    content: "";
    height: 30%;
    width: 20%;
    background-color: blue;
    z-index: 10;
}