@use "../abstracts/variables" as *;

.container-info{
    background-color: $lightgrey-clr;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1.5em 3em 1.5em;


    h2{
        color: white;
        margin-bottom: 1em;
    }
        .info-card{ /* contains all cards for wrapping */
            display: flex;
            justify-content: center;
            .card-container{ /* code for the whitecard */
                background-color: white;
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 100%;
                width: 80%;
                border-radius: .5em;
                margin: 7em 0 0 0;
                padding-bottom: 2em;
                h4{
                    text-align: center;
                    margin: 1em 0 1em 0;
                }
                p{

                    text-align: center;
                    margin: 0 1em 0 1em;
                }
                
                .container-background{ /* code for the background of the avatars*/
                    border-radius: .5em;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    width: 90%;
                    height: 90%;
                    margin-top: -3em;
                }
                .card-image{ /* Cardimage code and position*/
                    max-width: 90%;
                    max-height: 90%;
                    bottom: 0;
                }
                .child-card{
                    background-color: $lightblue-clr;
                }
                .adult-card{
                    background-color: $yellow-clr;
                }
                .old-card{
                    background-color: $darkorange-clr;
                }
            
            }
        }    


}
.info-aboutus{
    background-color: $yellow-clr;
    text-align: center;
    height: 35em;
    padding: 6em 3em 6em 3em;
    
    h2{
        margin-bottom: 1em;
        color: white;
    }
    p{
        padding-bottom: 2em;
    }
}

@media screen and (min-width: 768px){
    .container-info{
        padding: 5em;
        height: 50em;
        .maininfo-wrapper{
            display: flex;
            justify-content: space-between;
            .info-description{
                display: flex;
                flex-direction: column;
                flex: 0 1 50%;
                }
                p{
                    flex: 0 1 40%;
                }
            
        }
        .card-wrapper{ /* container to wrap the cards */
            display: flex;
        }

    }
    /* LARGE SCREENS */
    .info-aboutus{
        padding: 20em 30% 7em 30%;
    }
}